/* ============================= FONTS ================================= */

@font-face {
  font-family: heading-font;
  src: url(./fonts/Courgette-Regular.ttf);
}

@font-face {
  font-family: text-font;
  src: url(./fonts/OrelegaOne-Regular.ttf);
}

/* ============================== COLORS =============================== */

:root {
  --white: rgba(255, 255, 255, 0.9);
  --palewhite: rgba(255, 255, 255, 0.5);
  --black: rgba(0, 0, 0, 0.9);
  --paleblack: rgba(0, 0, 0, 0.5);
  --green: rgba(0, 80, 0, 0.9);
  --lightgreen: rgba(140, 220, 140, 0.9);
  --red: rgba(120, 20, 20, 0.9);
  --lightred: rgba(240, 140, 140, 0.9);
  --deepgray: rgba(20, 20, 20, 0.9);
  --no-color: rgba(0, 0, 0, 0);
}

/* ========================= GENERAL SETTINGS ============================ */

html {
  font-size: 10px;
  scroll-behavior: smooth;
  width: 100%;
  min-width: 480px;
  height: auto;
  font-family: text-font;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

.section-heading {
  padding: 2rem;
  line-height: 5.5rem;
  text-align: center;
  font-family: heading-font;
  font-size: 4rem;
  color: var(--black);
  font-weight: bold;
  text-shadow:
    1rem 0 3rem var(--white),
    -1rem 0 3rem var(--white),
    0 -1rem 3rem var(--white),
    0 1rem 3rem var(--white),
    1rem 1rem 3rem var(--white),
    -1rem -1rem 3rem var(--white),
    1rem -1rem 3rem var(--white),
    -1rem 1rem 3rem var(--white);
}

.section {
  overflow: hidden;
}

/* ================================= HEADER ============================== */

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
  height: 15vh;
  position: relative;
  box-shadow: inset 0 -0.5rem 0.5rem var(--black);
  letter-spacing: 0.1rem;
  text-transform: lowercase;
  overflow: hidden;
}

.header-wooden-background {
  position: absolute;
  bottom: 0;
  z-index: -4;
  height: 100%;
  width: 200%;
}

@media screen and (min-width: 650px) {
  .header-wooden-background {
    width: 100%;
  }
}

.header-pizza-background {
  position: absolute;
  width: calc(60rem + 20vw);
  left: 0;
  bottom: 13rem;
  z-index: -2;
  filter: drop-shadow(0.6rem 0.6rem 1.5rem var(--black));
  animation: background-pizza-animation 1s ease 2s forwards;
}

@keyframes background-pizza-animation {
  0% {
    bottom: 13rem
  }

  100% {
    bottom: -3rem
  }
}

.header-dark-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.3;
}

/* ============================== LOGO ================================ */

.logo-link {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  transform: rotate(-12deg);
}

.logo {
  position: absolute;
  top: 1rem;
  left: -2.5rem;
  height: 12rem;
  opacity: 0.9;
  transition: 0.5s;
  filter: drop-shadow(0.3rem 0.3rem 0.5rem var(--paleblack)) drop-shadow(-0.1rem -0.1rem 0.5rem var(--paleblack));
}

@media screen and (min-width: 350px) {
  .logo {
    height: 16rem;
    top: 2rem;
    left: -3.5rem;
  }
}

@media screen and (min-width: 500px) {
  .logo {
    height: 19rem;
  }
}

.scrolled-logo {
  height: 12rem;
  top: 1rem;
  left: -2.5rem;
  opacity: 0.5;
}

@media screen and (min-width: 800px) {
  .scrolled-logo {
    opacity: 0.9;
  }
}

/* =============================== NAVIGATION ================================ */

.nav-bar {
  position: fixed;
  width: auto;
  height: 0;
  min-width: 16rem;
  margin-left: auto;
  right: 0.9rem;
  top: -30rem;
  transition: 0.5s;
  z-index: 5;
}

@media screen and (min-width: 370px) {
  .nav-bar {
    right: 5rem;
  }
}

@media screen and (min-width: 500px) {
  .nav-bar {
    right: 6rem;
  }
}

@media screen and (min-width: 680px) {
  .nav-bar {
    top: 3rem;
    right: 4rem;
  }
}

.scrolled-nav-bar {
  top: -30rem;
}

.shifted-nav-bar {
  top: 5rem;
}

@media screen and (min-width: 370px) {
  .shifted-nav-bar {
    top: 1rem;
  }
}

@media screen and (min-width: 680px) {
  .shifted-nav-bar {
    right: 6rem;
  }
}

.nav-list {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 680px) {
  .nav-list {
    flex-direction: row;
  }
}

.hamburger-menu {
  position: fixed;
  top: 1rem;
  right: 1.2rem;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 0.3rem;
  width: 3rem;
  height: 3rem;
  border: 0.2rem outset var(--white);
  outline: 0.2rem outset var(--no-color);
  background-color: var(--deepgray);
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 1rem var(--black);
  color: var(--white);
  opacity: 0.9;
  cursor: pointer;
  transition-duration: 0.5s;
}

@media screen and (min-width: 370px) {
  .hamburger-menu {
    right: 1.5rem;
  }
}

@media screen and (min-width: 500px) {
  .hamburger-menu {
    width: 3.5rem;
    height: 3.5rem;
    gap: 0.4rem;
  }
}

@media screen and (min-width: 680px) {
  .hamburger-menu {
    right: -8rem;
  }
}

.scrolled-hamburger-menu {
  opacity: 0.5;
  right: 1.2rem;
}

@media screen and (min-width: 800px) {
  .scrolled-hamburger-menu {
    opacity: 0.9;
  }
}

.shifted-hamburger-menu {
  opacity: 0.9;
}

.bar1,
.bar2,
.bar3 {
  width: 1.6rem;
  height: 0.3rem;
  background-color: var(--white);
  transition: 0.5s;
}

.bar1 {
  background-color: var(--lightgreen);
}

.bar3 {
  background-color: var(--lightred);
}

@media screen and (min-width: 500px) {

  .bar1,
  .bar2,
  .bar3 {
    width: 2rem;
  }
}

.shifted-bar1 {
  transform: rotate(45deg) translate(0.42rem, 0.42rem);
  background-color: var(--white)
}

@media screen and (min-width: 500px) {
  .shifted-bar1 {
    transform: rotate(45deg) translate(0.55rem, 0.55rem);
  }
}

.shifted-bar3 {
  transform: rotate(-45deg) translate(0.42rem, -0.42rem);
  background-color: var(--white)
}

.shifted-bar2 {
  opacity: 0;
}

.nav-item {
  transition-duration: 0.5s;
}

.nav-link {
  position: relative;
  display: inline-block;
  background-color: var(--deepgray);
  margin: 0;
  height: 3rem;
  border: 0.2rem outset var(--white);
  outline: 0.2rem outset var(--no-color);
  border-radius: 0.2rem;
  padding: 0.3rem 0.6rem;
  box-shadow: 0.2rem 0.2rem 1rem var(--black);
  color: var(--white);
  font-size: 2rem;
  transition-duration: 0.5s;
  opacity: 0.9;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .nav-link {
    padding: 0.4rem 0.6rem;
    height: 3.5rem;
    font-size: 2.2rem;
  }
}

.nav-link:hover {
  z-index: 2;
  transition: 0.5s;
  border-top: 0.2rem solid var(--green);
  border-bottom: 0.2rem solid var(--red);
  border-left: 0.2rem solid var(--green);
  border-right: 0.2rem solid var(--red);
  box-shadow: 0.1rem 0 1.5rem var(--lightred),
    -1rem 0 1.5rem var(--lightgreen), 0 1rem 1.5rem var(--lightred),
    0 -1rem 1.5rem var(--lightgreen);
  outline: 0.2rem solid var(--white);
}

/* ================================ MAIN ==================================== */

.main {
  position: relative;
}

.video-leader-phone {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  box-shadow: inset 0 0.5rem 1rem var(--black),
    inset 0 -0.5rem 1rem var(--black);
}

.video {
  position: absolute;
  min-width: 100%;
  min-height: 115%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.leader-phone {
  text-align: center;
  color: var(--white);
  position: absolute;
  top: 25%;
  left: 2%;
  width: 95%;
  min-width: 32rem;
  height: 100%;
  text-shadow: 0.3rem 0.4rem 1.4rem var(--black);
}

@media screen and (min-width: 720px) {
  .leader-phone {
    top: 20%;
  }
}

.leader {
  font-family: heading-font;
  font-size: min(21vw, 5rem);
  font-weight: bold;
  margin-bottom: 1.2rem;
  text-transform: capitalize;
}

.phone {
  font-family: heading-font;
  font-size: auto;
  font-weight: bold;
  font-size: min(11vw, 4rem);
  text-align: center;
}


/* ========= THE STYLES OF PRICING TABLES ARE IN THE PRICING.CSS ============ */

/* =========== THE STYLES OF FOOD MENU ARE IN THE PRICING.CSS =============== */

/* *************************************************************************** */

/* =========================== FOOD MENU SELECTOR =========================== */


/* =============================== FOOTER =================================== */

.footer {
  /* height: ; */
  overflow: hidden;
  background-image: url("./images/restaurant_in_the_evening.jpg");
  /* https://i.ibb.co/r25yrLT/pexels-igor-starkov-1237073.jpg */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0.3rem 0.7rem var(--black),
    inset 0 -0.3rem 0.7rem var(--black);
}

@media screen and (min-width: 540px) {
  footer {
    height: 100vh;
  }
}

.footer-address,
.footer-phone,
.opening-time {
  font-family: text-font;
  font-size: 2.5rem;
  color: var(--black);
  opacity: 0.9;
  font-weight: bold;
  text-shadow: 1rem 1rem 1.5rem var(--white),
    1rem -1rem 1.5rem var(--white),
    -1rem 1rem 1.5rem var(--white),
    -1rem -1rem 1.5rem var(--white);
  text-align: center;
  line-height: 2.8rem;
}

@media screen and (min-width: 600px) {

  .footer-address,
  .footer-phone,
  .opening-time {
    font-size: 3rem;
  }
}

.form {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: text-font;
  font-size: 2rem;
  text-shadow: 1rem 1rem 1.5rem var(--white),
    1rem -1rem 1.5rem var(--white),
    -1rem 1rem 1.5rem var(--white),
    -1rem -1rem 1.5rem var(--white);
}

.input-label {
  margin-left: -1rem;
}

.input-email {
  font-family: text-font;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  height: 2rem;
  width: 20%;
  min-width: 18rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transform: translate(0, -0.3rem);
  color: var(--white);
  background: var(--paleblack);
  border-style: outset;
  box-shadow: 0.1rem 0.1rem 0.3rem var(--black);
  margin-top: 1.5rem;
}

::placeholder {
  font-family: text-font;
  font-size: 1.2rem;
}

.submit {
  font-family: text-font;
  display: inline-block;
  position: relative;
  background-color: var(--deepgray);
  margin: 1.5rem;
  margin-bottom: 0rem;
  margin-left: 0.3rem;
  padding: 0.3rem 0.7rem;
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.3rem var(--black);
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  transition-duration: 0.7s;
  color: var(--white);
}

.footer-map-box {
  position: relative;
  box-shadow: -0.6rem -0.6rem 1.5rem var(--black), 0.6rem 0.6rem 1.5rem var(--black);
  width: 90%;
  height: 40vh;
  overflow: hidden;
  left: 4%;
  top: 3rem;
  border: 0.2rem outset var(--white);
  border-radius: 0.2rem;
  outline: 0.1rem solid var(--black);
  opacity: 0.85;
  z-index: 0;
}

.footer-map {
  position: absolute;
  width: 300%;
  height: 150%;
  filter: grayscale(0.5);
  top: -20%;
  left: -100%;
  z-index: 1;
}

.footer-map-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.freepik {
  position: absolute;
  display: none;
  top: 0;
}