/* ======================== CSS RESET ============================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ============================= FONTS ================================= */

@font-face {
  font-family: heading-font;
  src: url(./fonts/Courgette-Regular.ttf);
}

@font-face {
  font-family: text-font;
  src: url(./fonts/OrelegaOne-Regular.ttf);
}

/* ============================== COLORS =============================== */

:root {
  --white: rgba(255, 255, 255, 0.9);
  --palewhite: rgba(255, 255, 255, 0.5);
  --black: rgba(0, 0, 0, 0.9);
  --paleblack: rgba(0, 0, 0, 0.5);
  --green: rgba(0, 80, 0, 0.9);
  --red: rgba(120, 20, 20, 0.9);
  --deepgray: rgba(20, 20, 20, 0.9);
  --no-color: rgba(0, 0, 0, 0);
}

/* ========================= GENERAL SETTINGS ============================ */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  width: 100%;
  height: auto;
  font-family: text-font;
  background-image: url("./images/assorment-with-pizza-slices-mushrooms2.jpg");
  /* https://i.ibb.co/yhcGmYJ/assorment-with-pizza-slices-mushrooms2.jpg */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

.section-heading {
  padding: 2rem;
  line-height: 5.5rem;
  text-align: center;
  font-family: heading-font;
  font-size: 4rem;
  color: var(--black);
  opacity: 0.9;
  font-weight: bold;
  text-shadow: 20px 20px 25px var(--white),
    20px -20px 25px var(--white),
    -20px 20px 25px var(--white),
    -20px -20px 25px var(--white);
}

/* ================================= HEADER ============================== */

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
  height: 130px;
  position: relative;
  box-shadow: 0 6px 15px var(--black), inset 0px -5px 5px var(--black);
  letter-spacing: 1px;
  text-transform: lowercase;
}

.header-background-box {
  position: absolute;
  width: 100%;
  height: 102%;
  overflow: hidden;
  padding-bottom: 0;
  z-index: -4;
}

.header-wooden-background {
  position: absolute;
  z-index: -4;
  width: 100%;
  height: 100%;
}

.header-plate {
  position: absolute;
  width: 845px;
  bottom: -2rem;
  left: -25px;
  z-index: -3;
  filter: drop-shadow(6px 6px 15px var(--black));
}

.header-pizza-background {
  position: absolute;
  width: 800px;
  bottom: 1rem;
  left: 0px;
  z-index: -2;
  filter: drop-shadow(6px 6px 15px var(--black));
}

.header-dark-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.3;
}

/* ============================== LOGO ================================ */

.logo-link {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  transform: rotate(-12deg);
}

.logo {
  position: absolute;
  top: 10px;
  left: -25px;
  height: 120px;
  opacity: 0.9;
  transition: 0.5s;
  filter: drop-shadow(3px 3px 5px var(--paleblack)) drop-shadow(-1px -1px 5px var(--paleblack));
}

@media (min-width: 350px) {
  .logo {
    height: 160px;
    top: 20px;
    left: -35px;
  }
}

@media (min-width: 500px) {
  .logo {
    height: 190px;
  }
}

.js_scrolled_logo {
  height: 120px;
  top: 10px;
  left: -25px;
  opacity: 0.5;
}

@media (min-width: 800px) {
  .js_scrolled_logo {
    opacity: 0.9;
  }
}

/* =============================== NAVIGATION ================================ */

.nav-bar {
  position: fixed;
  width: auto;
  height: 0;
  min-width: 160px;
  margin-left: auto;
  right: 5px;
  top: -300px;
  transition: 0.5s;
  z-index: 5;
}

@media (min-width: 680px) {
  .nav-bar {
    top: 30px;
    right: 40px;
  }
}

.js_scrolled_nav_bar {
  top: -300px;
}

@media (min-width: 500px) {
  .js_scrolled_nav_bar {
    right: 65px;
  }
}

.js_shifted_nav_bar {
  top: 55px;
}

@media (min-width: 370px) {
  .js_shifted_nav_bar {
    top: 10px;
    right: 55px;
  }
}

@media (min-width: 500px) {
  .js_shifted_nav_bar {
    right: 65px;
  }
}

.nav-list {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (min-width: 680px) {
  .nav-list {
    flex-direction: row;
  }
}

.hamburger-menu {
  position: fixed;
  top: 10px;
  right: 12px;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 5px;
  width: 37px;
  height: 37px;
  border: 2px outset var(--white);
  outline: 2px outset var(--no-color);
  background-color: var(--deepgray);
  border-radius: 2px;
  box-shadow: 2px 2px 10px var(--black);
  color: var(--white);
  opacity: 0.9;
  cursor: pointer;
  transition-duration: 0.5s;
}

@media (min-width: 370px) {
  .hamburger-menu {
    right: 15px;
  }
}

@media (min-width: 500px) {
  .hamburger-menu {
    width: 41px;
    height: 41px;
    gap: 6px;
  }
}

@media (min-width: 680px) {
  .hamburger-menu {
    right: -80px;
  }
}

.js_scrolled_hamburger_menu {
  opacity: 0.5;
  right: 12px;
}

@media (min-width: 800px) {
  .js_scrolled_hamburger_menu {
    opacity: 0.9;
  }
}

.js_shifted_hamburger_menu {
  opacity: 0.9;
}

.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 3px;
  background-color: var(--white);
  transition: 0.5s;
}

@media (min-width: 500px) {

  .bar1,
  .bar2,
  .bar3 {
    width: 27px;
  }
}

.js_shifted_bar1 {
  transform: rotate(45deg) translate(5.5px, 6px);
}

.js_shifted_bar3 {
  transform: rotate(-45deg) translate(5.5px, -5.5px);
}

@media (min-width: 500px) {

  .js_shifted_bar1 {
    transform: rotate(45deg) translate(6.5px, 7px);
  }

  .js_shifted_bar3 {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}

.js_shifted_bar2 {
  opacity: 0;
}

.nav-item {
  transition-duration: 0.5s;
}


.nav-link {
  position: relative;
  display: inline-block;
  background-color: var(--deepgray);
  margin: 0;
  padding: 0.5rem 0.6rem;
  border: 2px outset var(--white);
  outline: 2px outset var(--no-color);
  border-radius: 2px;
  box-shadow: 2px 2px 10px var(--black);
  color: var(--white);
  font-size: 1.2rem;
  transition-duration: 0.5s;
  opacity: 0.9;
  font-size: 18px;
  cursor: pointer;
}

@media (min-width: 500px) {
  .nav-link {
    font-size: 22px;
  }
}

.nav-link:hover {
  z-index: 2;
  transition: 0.5s;
  border-top: 2px solid var(--no-color);
  border-bottom: 2px solid var(--no-color);
  border-left: 2px solid var(--green);
  border-right: 2px solid var(--red);
  box-shadow: 10px 0 15px var(--red),
    -10px 0 15px var(--green), 0 10px 15px var(--white),
    0 -10px 15px var(--white);
  outline: 2px solid var(--white);
}

/* =============================== MAIN ================================ */

.main {
  position: relative;
}

.video-leader-phone {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  box-shadow: 0 10px 15px var(--black),
    inset 0px -5px 5px var(--black);
}

.video-box {
  position: relative;
  margin-bottom: -188px;
}

.video {
  position: relative;
  top: -185px;
  height: 100%;
  z-index: -1;
}

@media (min-width: 1130px) {
  .video {
    width: 100%;
  }
}

.leader-phone {
  text-align: center;
  color: var(--white);
  position: absolute;
  top: 25%;
  left: 2%;
  width: 95%;
  min-width: 320px;
  height: 100%;
  text-shadow: 3px 4px 14px var(--black);
}

@media (min-width: 720px) {
  .leader-phone {
    top: 20%;
  }
}

.leader {
  font-family: heading-font;
  font-size: min(21vw, 5rem);
  font-weight: bold;
  margin-bottom: 1.2rem;
  text-transform: capitalize;
}

.phone {
  font-family: heading-font;
  font-size: auto;
  font-weight: bold;
  font-size: min(11vw, 4rem);
  text-align: center;
}

.first-section {
  position: relative;
  text-align: center;
  padding: 1rem;
}

.pricing-table {
  position: relative;
  border: 2px outset var(--white);
  border-radius: 2px;
  outline: 1px solid var(--black);
  overflow: hidden;
  color: var(--white);
  width: 250px;
  height: 600px;
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./images/menu_pizza_background.webp");
  /*https://img.freepik.com/free-photo/black-concrete-wall_24972-1046.jpg?t=st=1652006968~exp=1652007568~hmac=67cbb751acb30c05bc89549537d440ad0d9b784b071fbfabe95b9258e17c21ac&w=740*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 20px var(--black);
  transition: 0.8s;
}

.pricing-table:hover {
  transform: scale(1.03);
  box-shadow: 15px 15px 30px var(--black);
}

@media (min-width: 920px) {
  .pricing-table {
    display: inline-block;
    margin: 1rem;
  }
}

.pricing-content {
  position: relative;
  z-index: 2;
}

.pricing-link {
  color: var(--white);
}

.pricing-heading,
.pricing-table-text,
.pricing-sub-heading,
.size-and-price {
  padding: 0.8rem;
}

.pricing-heading,
.pricing-sub-heading,
.pricing-table-text {
  font-family: text-font;
}

.pricing-heading {
  height: 80px;
  width: 250px;
  border-bottom: 2px solid var(--palewhite);
  font-size: 2rem;
  display: table-cell;
  vertical-align: middle;
  background-color: var(--deepgray);
}

.pricing-image-box {
  width: 250px;
  height: 180px;
}

.pricing-image-wrapper {
  width: 175px;
  height: 150px;
  padding: 1rem;
  position: relative;
  display: inline-block;
}

.pricing-image {
  width: 100%;
  filter: drop-shadow(5px 5px 5px var(--black));
}

.pricing-plate {
  position: absolute;
  bottom: 20px;
  left: 9px;
  height: 80%;
  width: 92%;
  filter: drop-shadow(5px 5px 5px var(--black));
}

.second-pricing-image {
  margin-top: 2rem;
}

.second-pricing-plate {
  height: 40%;
  width: 92%;
  left: 10px;
  bottom: 50px;
}

.pricing-table-text {
  border-top: 2px solid var(--palewhite);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 250px;
  height: 80px;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
  font-weight: normal;
  background-color: var(--green);
}

.pricing-sub-heading {
  border-top: 2px solid var(--palewhite);
  width: 250px;
  height: 32px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.8rem;
  background: var(--white);
  text-transform: lowercase;
  color: var(--black);
}

.size-and-price {
  border-bottom: 2px solid var(--palewhite);
  line-height: 1.8rem;
  font-family: heading-font;
  background-color: var(--red);
}

.size-and-price-row {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6rem;
}

.size {
  display: table-cell;
  width: 10%;
  text-align: right;
}

.price {
  display: table-cell;
  width: 100px;
  text-align: right;
}

.price::before {
  content: "$";
}

@media (min-width: 700px) and (max-width: 919px) {
  .pricing-table {
    min-width: 650px;
    width: 80%;
    max-width: 700px;
    height: auto;
  }

  .pricing-heading {
    grid-area: pricing-heading;
    border-right: 2px solid var(--palewhite);
    display: grid;
    align-content: center;
    margin: 0;
    height: auto;
    width: auto;
  }

  .pricing-image-box {
    grid-area: pricing-image-box;
    border-right: 2px solid var(--palewhite);
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 0;
    height: auto;
    width: auto;
  }

  .pricing-table-text {
    border-top: 0;
    border-bottom: 2px solid var(--palewhite);
    grid-area: pricing-table-text;
    margin: 0;
    height: auto;
    width: auto;
    display: grid;
    align-content: center;
  }

  .pricing-sub-heading {
    display: grid;
    align-content: center;
    border-top: 0;
    grid-area: pricing-sub-heading;
    margin: 0;
    height: auto;
    width: auto;
  }

  .size-and-price {
    border-top: 2px solid var(--palewhite);
    border-bottom: 0;
    grid-area: size-and-price;
    margin: 0;
    height: auto;
    width: auto;
  }

  .size-and-price-row {
    width: 50%;
  }

  .pricing-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20vh 10vh 20vh;
    grid-template-areas:
      "pricing-heading pricing-table-text"
      "pricing-image-box pricing-sub-heading"
      "pricing-image-box size-and-price";
  }
}

/* =========================== FOOD MENU ==================================== */

.menu-headings {
  margin: 20px auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.menu-heading {
  width: 30%;
}

.menu-pages {
  position: relative;
  overflow: hidden;
  transition-duration: 0.5s;
  width: 90%;
  left: 5%;
}

.menu-page {
  width: 100%;
  position: absolute;
  height: auto;
  transition-duration: 0.5s;
  font-family: text-font;
  background-color: var(--deepgray);
  border: 2px outset var(--white);
  border-radius: 2px;
  outline: 1px solid var(--black);
  color: var(--white);
  font-size: 20px;
  padding: 10px;
}

.js_after_menu_page {
  transform: translate(130%, 0);
}

.js_before_menu_page {
  transform: translate(-130%, 0);
}

.js_active_menu_page {
  transform: translate(none);
}

/* =============================== FOOTER =================================== */

.footer {
  /* height: ; */
  overflow: hidden;
  background-image: url("./images/restaurant_in_the_evening.jpg");
  /* https://i.ibb.co/r25yrLT/pexels-igor-starkov-1237073.jpg */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 -6px 15px var(--black), inset 0px 3px 7px var(--black),
    inset 0px -3px 7px var(--black);
}

@media (min-width: 540px) {
  footer {
    height: 100vh;
  }
}

.footer-address,
.footer-phone,
.opening-time {
  font-family: text-font;
  font-size: 25px;
  color: var(--black);
  opacity: 0.9;
  font-weight: bold;
  text-shadow: 10px 10px 15px var(--white),
    10px -10px 15px var(--white),
    -10px 10px 15px var(--white),
    -10px -10px 15px var(--white);
  text-align: center;
  line-height: 2.8rem;
}

@media (min-width: 600px) {

  .footer-address,
  .footer-phone,
  .opening-time {
    font-size: 30px;
  }
}

.form {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: text-font;
  font-size: 2rem;
  text-shadow: 10px 10px 15px var(--white),
    10px -10px 15px var(--white),
    -10px 10px 15px var(--white),
    -10px -10px 15px var(--white);
}

.input-label {
  margin-left: -10px;
}

.input-email {
  font-family: text-font;
  font-size: 1.2rem;
  letter-spacing: 1px;
  height: 2rem;
  width: 20%;
  min-width: 18rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transform: translate(0, -3px);
  color: var(--white);
  background: var(--paleblack);
  border-style: outset;
  box-shadow: 1px 1px 3px var(--black);
  margin-top: 1.5rem;
}

::placeholder {
  font-family: text-font;
  font-size: 1.2rem;
}

.submit {
  font-family: text-font;
  display: inline-block;
  position: relative;
  background-color: var(--deepgray);
  margin: 1.5rem;
  margin-bottom: 0rem;
  margin-left: 0.3rem;
  padding: 0.3rem 0.7rem;
  border-radius: 2px;
  box-shadow: 1px 1px 3px var(--black);
  font-size: 1.8rem;
  letter-spacing: 1px;
  transition-duration: 0.7s;
  color: var(--white);
}

.footer-map-box {
  position: relative;
  box-shadow: -6px -6px 15px var(--black), 6px 6px 15px var(--black);
  width: 90%;
  height: 40vh;
  overflow: hidden;
  left: 4%;
  top: 30px;
  border: 2px outset var(--white);
  border-radius: 2px;
  outline: 1px solid var(--black);
  opacity: 0.85;
  z-index: 0;
}

.footer-map {
  position: absolute;
  width: 300%;
  height: 150%;
  filter: grayscale(0.5);
  top: -20%;
  left: -100%;
  z-index: 1;
}

.footer-map-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.freepik {
  position: absolute;
  display: none;
  top: 0;
}