.product-page {
	font-size: 3rem;
	position: fixed;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 100vw;
	height: 0;
	transition: 0.3s;
	z-index: 15;
	backdrop-filter: blur(0.3rem);
}

.product-page-content {
	position: absolute;
	background-image: url("../images/menu_pizza_background.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 95%;
	height: 95%;
	left: 2.5%;
	top: 2.5%;
	color: var(--white);
	border-image: url("../images\ másolata/drawing.png");
	border-image-slice: 120;
	border-image-width: 5rem;
	border-image-repeat: repeat;
}

.product-page-image {
	width: 30rem;
	height: auto;
}

.close-product-page {
	cursor: pointer;
}

.close-product-page:hover {
	color: lightblue;
}