.product-page {
	position: fixed;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 100vw;
	height: 0;
	transition: 0.3s;
	z-index: 15;
	backdrop-filter: blur(0.8rem);
}

.active-product-page {
	height: 100vh;
}

.product-page-content {
	position: absolute;
	/* background-image: url("../images/menu_pizza_background.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */
	background-color: var(--deepgray);
	width: 95%;
	height: 95%;
	left: 2.5%;
	top: 2.5%;
	color: var(--white);
	border-image: url("../images\ másolata/drawing.png");
	border-image-slice: 120;
	border-image-width: 3rem;
	border-image-repeat: repeat;
	padding: 3rem;
	display: flex;
	flex-direction: row;
	align-items: start;
}

.product-page-image {
	max-width: 18rem;
}

.close-product-page {
	cursor: pointer;
}

.close-product-page:hover {
	color: lightblue;
}