/* ============================ PRICING TABLES =========================== */

.first-section {
  position: relative;
  text-align: center;
  padding: 1rem;
  background-image: url("../images/assorment_with_pizza_slices_mushrooms.jpg");
  /* https://i.ibb.co/yhcGmYJ/assorment-with-pizza-slices-mushrooms2.jpg */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0.5rem 1rem var(--black),
    inset 0 -0.5rem 1rem var(--black);
}

.pricing-table-holder {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 3rem;
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
  .pricing-table-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }
}

.pricing-table {
  position: relative;
  border: 0.2rem outset var(--white);
  border-radius: 0.2rem;
  outline: 0.1rem solid var(--black);
  overflow: hidden;
  color: var(--white);
  width: 25rem;
  height: 60rem;
  min-width: 25rem;
  background-image: url("../images/menu_pizza_background.webp");
  /*https://img.freepik.com/free-photo/black-concrete-wall_24972-1046.jpg?t=st=1652006968~exp=1652007568~hmac=67cbb751acb30c05bc89549537d440ad0d9b784b071fbfabe95b9258e17c21ac&w=740*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0.5rem 0.5rem 2rem var(--black);
  transition: 0.3s;
  cursor: pointer;
}

.pricing-table:hover {
  box-shadow: 1.5rem 1.5rem 3rem var(--black);
}

.pricing-content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.pricing-link {
  color: var(--white);
}

.pricing-heading-holder {
  height: 12rem;
  width: 25rem;
  background-color: var(--deepgray);
  border-top: 0.2rem solid var(--palewhite);
  border-bottom: 0.2rem solid var(--palewhite);
}

.product-number,
.pricing-heading,
.pricing-table-text,
.pricing-sub-heading,
.size-and-price {
  padding: 0.8rem;
}

.product-number,
.pricing-heading,
.pricing-sub-heading,
.pricing-table-text {
  font-family: text-font;
}

.pricing-heading {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

.numero {
  font-size: 2.1rem;
}

.product-number {
  font-size: 2.1rem;
  letter-spacing: 0.1rem;
}

.pricing-image-box {
  width: 25rem;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-image {
  width: 75%;
  height: auto;
}

.pricing-table-text {
  border-top: 0.2rem solid var(--palewhite);
  display: flex;
  padding: 0 1.5rem;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 12rem;
  font-size: 2rem;
  letter-spacing: 0.03rem;
  font-weight: normal;
  background-color: var(--green);
}

.pricing-sub-heading {
  border-top: 0.2rem solid var(--palewhite);
  width: 25rem;
  height: 3.2rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 2.3rem;
  background: var(--white);
  text-transform: lowercase;
  color: var(--black);
}

.portion-and-price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 0.2rem solid var(--palewhite);
  width: 25rem;
  height: 10rem;
  font-family: heading-font;
  background-color: var(--red);
}

.portion-and-price-row {
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: 0.03rem;
}

.portion {
  display: table-cell;
  width: 9rem;
  text-align: left;
}

.portion-content {
  display: table-cell;
  width: 6rem;
  font-size: 1.2rem;
}

.price {
  display: table-cell;
  width: 6rem;
  text-align: right;
  letter-spacing: 0.1rem;
}