/* ============================ PRICING TABLES =========================== */

.pricing-table-holder {
display: flex;
gap: 3rem;
justify-content: space-around;
flex-wrap: wrap;
padding: 3rem;
}

.pricing-table {
  position: relative;
  border: 0.2rem outset var(--white);
  border-radius: 0.2rem;
  outline: 0.1rem solid var(--black);
  overflow: hidden;
  color: var(--white);
  width: 25rem;
  height: 60rem;
  background-image: url("../images/menu_pizza_background.webp");
  /*https://img.freepik.com/free-photo/black-concrete-wall_24972-1046.jpg?t=st=1652006968~exp=1652007568~hmac=67cbb751acb30c05bc89549537d440ad0d9b784b071fbfabe95b9258e17c21ac&w=740*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0.5rem 0.5rem 2rem var(--black);
  transition: 0.8s;
}

.pricing-table:hover {
  transform: scale(1.02);
  box-shadow: 1.5rem 1.5rem 3rem var(--black);
}

.pricing-content {
  position: relative;
  z-index: 2;
}

.pricing-link {
  color: var(--white);
}

.pricing-heading,
.pricing-table-text,
.pricing-sub-heading,
.size-and-price {
  padding: 0.8rem;
}

.pricing-heading,
.pricing-sub-heading,
.pricing-table-text {
  font-family: text-font;
}

.pricing-heading {
  height: 12rem;
  width: 25rem;
  border-bottom: 0.2rem solid var(--palewhite);
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  display: table-cell;
  vertical-align: middle;
  background-color: var(--deepgray);
}

.pricing-image-box {
  width: 25rem;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-image {
  width: 75%;
  height: auto;
}

.pricing-table-text {
  border-top: 0.2rem solid var(--palewhite);
  display: flex;
  padding: 0 1.5rem;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 12rem;
  font-size: 2rem;
  letter-spacing: 0.03rem;
  font-weight: normal;
  background-color: var(--green);
}

.pricing-sub-heading {
  border-top: 0.2rem solid var(--palewhite);
  width: 25rem;
  height: 3.2rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 2.3rem;
  background: var(--white);
  text-transform: lowercase;
  color: var(--black);
}

.size-and-price {
  border-bottom: 0.2rem solid var(--palewhite);
  line-height: 2rem;
  font-family: heading-font;
  background-color: var(--red);
}

.size-and-price-row {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}

.size {
  display: table-cell;
  width: 10%;
  text-align: right;
}

.price {
  display: table-cell;
  width: 10rem;
  text-align: right;
}

.price::before {
  content: "$";
}

/* 
@media (min-width: 700px) and (max-width: 919px) {
  .pricing-table {
    min-width: 65rem;
    width: 80%;
    max-width: 70rem;
    height: auto;
  }

  .pricing-heading {
    grid-area: pricing-heading;
    border-right: 0.2rem solid var(--palewhite);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: auto;
    width: auto;
  }

  .pricing-image-box {
    grid-area: pricing-image-box;
    border-right: 2px solid var(--palewhite);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: auto;
    width: auto;
  }

  .pricing-image {
    width: 60%;
    height: auto;
  }

  .pricing-table-text {
    border-top: 0;
    border-bottom: 2px solid var(--palewhite);
    grid-area: pricing-table-text;
    margin: 0;
    height: auto;
    width: auto;
    display: grid;
    align-content: center;
  }

  .pricing-sub-heading {
    display: grid;
    align-content: center;
    border-top: 0;
    grid-area: pricing-sub-heading;
    margin: 0;
    height: auto;
    width: auto;
  }

  .size-and-price {
    border-top: 2px solid var(--palewhite);
    border-bottom: 0;
    grid-area: size-and-price;
    margin: 0;
    height: auto;
    width: auto;
  }

  .size-and-price-row {
    width: 50%;
  }

  .pricing-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20vh 10vh 20vh;
    grid-template-areas:
      "pricing-heading pricing-table-text"
      "pricing-image-box pricing-sub-heading"
      "pricing-image-box size-and-price";
  }
} */