/* =================== FOOD AND DRINK MENU STYLES ====================== */

.food-menu-headings {
  margin: 2rem auto;
  display: flex;
  width: 90%;
  justify-content: stretch;
}

.food-menu-heading {
  background-color: var(--deepgray);
  margin: 0;
  height: 5rem;
  width: 25%;
  border: 0.2rem outset var(--white);
  outline: 0.2rem outset var(--no-color);
  border-radius: 0.2rem;
  padding: 0.3rem 0.6rem;
  box-shadow: 0.2rem 0.2rem 1rem var(--black);
  color: var(--white);
  font-family: text-font;
  font-size: 2rem;
  transition-duration: 0.5s;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.5s;
}

.food-menu-heading.selected-heading {
  background-image: linear-gradient(90deg, var(--green) 0%, var(--white) 15%, var(--white) 85%, var(--red) 100%);
  color: var(--black);
}

.food-menu-pages {
  position: relative;
  overflow: hidden;
  transition-duration: 0.5s;
  width: 90%;
  left: 5%;
  height: auto;
  transition: 0.5s;
}

.food-menu-page {
  width: 100%;
  height: auto;
  transition-duration: 0.5s;
  font-family: text-font;
  background-color: var(--deepgray);
  border: 0.2rem outset var(--white);
  border-radius: 2px;
  outline: 0.1rem solid var(--black);
  color: var(--white);
  font-size: 2rem;
  padding: 1rem;
}

.after-menu-page {
  position: absolute;
  transform: translate(130%, 0);
}

.before-menu-page {
  position: absolute;
  transform: translate(-130%, 0);
}

.active-menu-page {
  position: absolute;
  transform: translate(none);
}

/* 
@media (min-width: 700px) and (max-width: 919px) {
  .pricing-table {
    min-width: 65rem;
    width: 80%;
    max-width: 70rem;
    height: auto;
  }

  .pricing-heading {
    grid-area: pricing-heading;
    border-right: 0.2rem solid var(--palewhite);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: auto;
    width: auto;
  }

  .pricing-image-box {
    grid-area: pricing-image-box;
    border-right: 2px solid var(--palewhite);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: auto;
    width: auto;
  }

  .pricing-image {
    width: 60%;
    height: auto;
  }

  .pricing-table-text {
    border-top: 0;
    border-bottom: 2px solid var(--palewhite);
    grid-area: pricing-table-text;
    margin: 0;
    height: auto;
    width: auto;
    display: grid;
    align-content: center;
  }

  .pricing-sub-heading {
    display: grid;
    align-content: center;
    border-top: 0;
    grid-area: pricing-sub-heading;
    margin: 0;
    height: auto;
    width: auto;
  }

  .size-and-price {
    border-top: 2px solid var(--palewhite);
    border-bottom: 0;
    grid-area: size-and-price;
    margin: 0;
    height: auto;
    width: auto;
  }

  .size-and-price-row {
    width: 50%;
  }

  .pricing-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20vh 10vh 20vh;
    grid-template-areas:
      "pricing-heading pricing-table-text"
      "pricing-image-box pricing-sub-heading"
      "pricing-image-box size-and-price";
  }
} */